:root{
    --primary-color:#E473FF;
    --second-color:#040415;
    --trois-color:#ffff;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   
}
body{
    background-color: var(--second-color);
   align-items: center;
   justify-content: center;
   display: flex;
}