:root{
    --primary-color:#E473FF;
    --second-color:#040415;
    --trois-color:#ffff;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   
}
body{
    background-color: var(--second-color);
    position: relative;
}

h2{
    color: #E473FF;
}

header{
    width: 100%;
    height: 5rem;
    background-color: var(--second-color);
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    
}
.logo{
    width: 10rem;
    height: 2rem;
    margin-top: 20px;
    margin-left: 5rem;
}
.logo,.log1{
    color: var(--trois-color);
    font-size: 1.6rem;
    
}
.logo,.log2{
    color: var(--primary-color);
}
.divsearch{   
   
    width: 30rem;
    position: relative;
}
.recherch{
    width: 100%;
    height: 3rem;
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.166);
    margin-left: 10rem;
    
}
.divsearch img{
    position: absolute;
    right: 270px;
    top: 20px;
}
.divsearch,.p{
   color: var(--trois-color);
}

.btnconnex{
    width: 12rem;
    height: 3rem;
    border: 1px solid var(--primary-color);
    border-radius: 2rem;
    margin-top: 10px;
    margin-right: 8rem;
    background-color:rgba(255, 255, 255, 0);
}
.btnconnex a{
    color: white;
    font-size: 1.2rem;
}
.btnconnex:hover{
    border: 1px solid var(--trois-color);
    border-radius: 2rem;
    margin-right: 8rem;
    background-color:var(--primary-color);
}
/*----------------------------------header--------------------------------------------*/

.cadrebienvenu{
   
    width: 36rem;
    height: 20rem;
    color: var(--trois-color);
    position: absolute;
    margin-top: 15rem;
    margin-left: 15rem;
    text-align: center;
}
.cadrebienvenu .p1{
    color: var(--trois-color);
    font-size: 4rem;
}
.cadrebienvenu .p2{
    color: var(--primary-color);
    font-size: 4rem;
}

.vdeo{
    margin-top: 12rem;
    float: right;
    margin-right: 15rem;
    width: 50rem;
    height: 28rem;
    border-radius: 2rem;
    box-shadow: var(--primary-color) 0px 5px 5px, var(--primary-color) 0px -5px 10px, var(--primary-color) 0px 4px 6px, var(--primary-color) 0px 5px 5px,var(--primary-color) 0px -0px 0px;  
}

.vdeo iframe{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    border: 1px solid var(--primary-color);
}

.vdeo h2{
    color: white;
}
.lignphoto{
    height: 60px;
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-top: 10px;
}
.toph{
    width: 4rem;
    height: 100%;
    border-radius: 50%;
  
}
.toph img{
    width: 100%;
    height: 100%;
    border-radius: 5rem;
}
.lignphoto h3{
    color: var(--trois-color);
    margin-top: 5px;
    font-size: 1rem;
    margin-right:50px;
}
.btnabonnement{
    width: 10rem;
    height: 80%;
    border: 1px solid var(--primary-color);
    border-radius: 5rem;
    background-color: rgba(255, 255, 255, 0.095);
    color: var(--trois-color);
    font-size: 15px;
}
.btnabonnement:hover{
    border: 1px solid var(--trois-color);
    background-color:var(--primary-color);
}
.listedesvideos{
    position: relative;
    width: 80%;
    height: 50rem;
    top: 12rem;
    margin-left: 15rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 7rem;
}
.listedesvideos h2{
    position: absolute;
    left: 1rem;
    font-size: 2.5rem;
}

.cadredeo{
    width: 22rem;
    height: 17rem;
    margin-top: 60px;
    border-radius: 2rem;
    box-shadow: var(--primary-color) 0px 5px 5px, var(--primary-color) 0px -5px 10px, var(--primary-color) 0px 4px 6px, var(--primary-color) 0px 5px 5px,var(--primary-color) 0px -0px 0px;  
}
.cadredeo:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 2px 2px var(--trois-color);
}
.cadredeo iframe{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    border: 1px solid var(--primary-color);
}
.cadredeo h3, span{
    color: var(--trois-color);
}
.cadredeo span{
    margin-top: 4px;
    margin-left: 4px;
}
.lignetitre{
    display: flex;
}
.lignetitre svg{
    margin-left: 40px;
}
.ligneauteur{
    display: flex;
}
.ligneauteur .toph{
    width: 3.2rem;
    height: 3rem;
    border-radius: 50%;
  
}
.ligneauteur .toph img{
    width: 90%;
    height: 90%;
    border-radius: 5rem;
}
.ligneauteur h3{
    color: rgba(255, 255, 255, 0.57);
    margin-top: 5px;
    margin-left: 10px;
}
.pieddepage{
    width: 100%;
    height: 10vh;
    background-color: black;
    margin-top: 10rem;
    position: absolute;
}    
.pieddepage p{
    text-align: center;
    font-size: 1rem;
    color: var(--trois-color);
    margin-top: 2rem;
}
.pieddepage span{
    color: var(--primary-color);
}


/*--------------------RESPONSIVITES-------------*/
@media (max-width:1538px){

    .logo{
        width: 10rem;
        height: 2rem;
        margin-top: 20px;
        margin-left: 3rem;
    }
    .logo,.log1{
        font-size: 1.5rem; 
    }
    .cadrebienvenu{
        width: 24rem;
        height: 20rem;
        margin-top: 12rem;
        margin-left: 6rem;
    }
    .cadrebienvenu .p1{
        font-size: 3rem;
    }
    .cadrebienvenu .p2{
        font-size: 3rem;
    }
    .vdeo{
        margin-top: 12rem;
        margin-right: 12rem;
        width: 45rem;
        height: 25rem;
       
    }
    .vdeo h2{
        color: white;
        font-size: 1.2rem;
    }

    #liste2{
        margin-top: 1rem;
        margin-bottom: 35rem;
       
    }
    .listedesvideos{
        width: 90%;
        height: auto;
        top: 12rem;
        margin-left: 5rem;
        margin-bottom: 1rem;
      
    }
    .cadredeo{
        width: 15rem;
        height: 17rem;
        margin-top: 60px;
        border-radius: 2rem;
        margin-bottom: 2rem;
       
    }
    
}

@media (max-width:1400px){

    .logo{
        width: 10rem;
        height: 2rem;
        margin-left: 2rem;
    }
    .logo,.log1{
        font-size: 1.3rem; 
    }
    .divsearch{
        width: 28rem;
        position: relative;
    }
    .recherch{
        width: 80%;
        height: 2.4rem;
        margin-top: 1rem;
        margin-left: 5rem;
        
    }
    .divsearch img{
        position: absolute;
        right: 320px;
        top: 20px;
        width: 1.8rem;
        height: 1.8rem;
    }

    .btnconnex{
        width: 8rem;
        height: 2.2rem;
        margin-right: 8rem;
        margin-top: 18px;
    }
    .btnconnex a{
        font-size: 1rem;
    }
    .cadrebienvenu{
        width: 24rem;
        height: 20rem;
        margin-top: 14rem;
        margin-left: 6rem;
    }
    .cadrebienvenu .p1{
        font-size: 2.5rem;
    }
    .cadrebienvenu .p2{
        font-size: 2.5rem;
    }

    .vdeo{
        width: 35rem;
        height: 20rem;
       
    }
    .cadredeo{
        width: 15rem;
        height: 12rem;
        margin-top: 60px;
        border-radius: 2rem;
        margin-bottom: 2rem;
        
    }
    .lignphoto{
        height: 50px;
        width: 80%;
        margin-top: 10px;
    }
    .toph{
        width: 3rem;
        height: 85%;
        border-radius: 50%;
      
    }
    .toph img{
        width: 100%;
        height: 100%;
        border-radius: 5rem;
    }

    #liste2{
        margin-top: 10rem;
        margin-bottom: 7rem;
    }
    footer{
        margin-top: 8rem;
    }

}

@media (max-width:1200px){

    .cadrebienvenu{
        width: 16rem;
        height: 16rem;
        margin-top: 14rem;
        margin-left: 4rem;
      
    }
    .cadrebienvenu .p1{
        font-size: 2rem;
    }
    .cadrebienvenu .p2{
        font-size: 2rem;
    }

    .vdeo{
        width: 30rem;
        height: 16rem;
       
    }
    .cadredeo{
        width: 22rem;
        height: 17rem;
        margin-top: 60px;
        border-radius: 2rem;
        margin-bottom: 2rem;
    }

    .lignphoto{
        height: 50px;
        width: 80%;
        margin-top: 10px;
    }
    .toph{
        width: 2rem;
        height: 70%; 
    }
    .toph img{
        border-radius: 4rem;
        height: 80%;
    }
    .lignphoto h3{
        color: var(--trois-color);
        font-size: .8rem;
        margin-right:50px;
    }
    .btnabonnement{
        width: 8rem;
        height: 80%;
        border: 1px solid var(--primary-color);
        border-radius: 5rem;
        background-color: rgba(255, 255, 255, 0.095);
        color: var(--trois-color);
        font-size: 12px;
    }
    .lignetitre svg{
        margin-left: 30px;
    }
    .ligneauteur .toph{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
      
    }
    .ligneauteur .toph img{
        width: 90%;
        height: 90%;
        border-radius: 5rem;
    }
    .ligneauteur h3{
        color: rgba(255, 255, 255, 0.57);
        margin-top: 5px;
        margin-left: 10px;
    }

}

@media (max-width:1000px){
    .logo{
        width: 8rem;
        height: 2rem;
        margin-top: 20px;
        margin-left: 3rem;
    }
    .logo,.log1{
        font-size: 1.1rem; 
    }
    
    .divsearch{
        width: 25rem;
        position: relative;
    }
    .recherch{
        width: 80%;
        height: 2.4rem;
        margin-top: 1rem;
        margin-left: 5rem;
        
    }
    .divsearch img{
        position: absolute;
        right: 280px;
        top: 20px;
        width: 1.8rem;
        height: 1.8rem;
    }
    .btnconnex{
        width: 8rem;
        height: 2.2rem;
        margin-right: 8rem;
        margin-top: 18px;
    }
    .btnconnex a{
        font-size: 1rem;
    }   
    .cadrebienvenu{
        width: 15rem;
        height: 14rem;
        margin-top: 10rem;
        margin-left: 4rem;
       
    }
    .cadrebienvenu .p1{
        font-size: 1.8rem;
    }
    .cadrebienvenu .p2{
        font-size: 1.8rem;
    }

    .vdeo{
        width: 25rem;
        height: 16rem;
        margin-top: 10rem;
    }
    .cadredeo{
        width: 18rem;
        height: 12rem;
        margin-top: 50px;
        border-radius: 2rem;
        margin-bottom: 4rem;
    }
    .listedesvideos{
        width: 75%;
        height: auto;
        margin-left: 8rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 10rem;
    }
    .listedesvideos h2{
        position: absolute;
        left: 1rem;
        font-size: 2.5rem;
    }
    #liste2{
        margin-top: 32rem;
        margin-bottom: 35rem;
    }
    .lignetitre{
        display: flex;
        width: 85%;
    }
    .lignetitre h3{
        font-size: .8rem;
    }
    .lignetitre span{
        font-size: .6rem;
        margin-top: 4px;
    }
    .lignetitre svg{
        font-size: .7rem;
    }
    .ligneauteur .toph{
        width: 2rem;
        height: 1.8rem;
        border-radius: 60%;
    }
    .ligneauteur .toph img{
        width: 90%;
        height: 90%;
        border-radius: rem;
    }
    .ligneauteur h3{
        margin-top: 5px;
        margin-left: 10px;
        font-size: 1rem;
    }
    /* footer{
        margin-top: 45rem;
    } */
    
}
@media (max-width:768px){
    .logo{
        width: 6rem;
        margin-left: 2rem;
    }
    .logo,.log1{
        font-size: 1rem; 
    }      
    .divsearch{
        width: 20rem;
        height: 5px;
        position: relative;
    }
    .recherch{
        width: 80%;
        height: 2rem;      
    }
    .divsearch img{
        right: 200px;
        top: 20px;
        width: 1.5rem;
        height: 1.5rem;
        }
    .btnconnex{
        width: 7rem;
        height: 2rem;
        margin-right: 4rem;
        margin-top: 18px;
    }
    .btnconnex a{
        font-size: .8rem;
    }   
    .cadrebienvenu{
        width: 20rem;
        height: 10rem;
        margin-top: 6rem;
        margin-left: 12rem;      
    }
    .vdeo{
        width: 25rem;
        height: 16rem;
        margin-top: 16rem;
    }
    .lignphoto{
        height: 50px;
        width: 80%;
        margin-top: 10px;
    }
    .toph{
        width: 2.4rem;
        height: 60%;
        border-radius: 50%;  
    }
    .lignphoto h3 {
        margin-top: 5px;
        font-size: .7rem;
        margin-right:30px;
    }
    .btnabonnement{
        width: 8rem;
        height: 65%;
        font-size: 12px;
    }
   .cadredeo{
        width: 16rem;
        height: 10rem;
        margin-top: 50px; 
        margin-right: 2rem;
    }
    .listedesvideos{
        width: 75%;
        height: auto;
        height: 50rem;
        margin-left: 7rem;
    }
    .listedesvideos h2{
        font-size: 2rem;
    }    
    .lignetitre h3{
        font-size: .7rem;
    }
    .lignphoto{
        height: 50px;
        width: 80%;
        margin-top: 10px;
    }
    .toph{
        width: 2rem;
        height: 50%;
        border-radius: 50%;  
    }
    .lignphoto h3 {
        margin-top: 5px;
        font-size: .7rem;
        margin-right:30px;
    }
    .ligneauteur .toph{
        width: 10%;
        height: 1.5rem;
        border-radius: 60%;
    }
    .ligneauteur .toph img{
        width: 90%;
        height: 80%;
    }
    .ligneauteur h3{
        margin-top: 3px;
        font-size: .8rem;
    }
    #liste2{
        margin-top: 20rem;
        margin-bottom: 35rem;
    }
    /* footer{
        margin-top: 18rem;
    } */
    
}
@media (max-width:450px){
    .logo{
        width: 5rem;
        margin-left: 1rem;
    }
    .logo,.log1{
        font-size: .8rem; 
    }      
    .divsearch{
        overflow: hidden;
    }
    .recherch{
        overflow: hidden;     
    }
    
    .btnconnex{
        width: 7rem;
        height: 2rem;
        margin-right: 4rem;
        margin-top: 18px;
        overflow: hidden;
    }
    .btnconnex a{
        font-size: .8rem;
    }   
    .cadrebienvenu{
        width: 20rem;
        height: 10rem;
        margin-top: 6rem;
        margin-left: 4rem;    
    }
    .cadrebienvenu .p1,.cadrebienvenu .p2{
        font-size: 1.5rem;
    }
    .vdeo{
        width: 20rem;
        height: 14rem;
        margin-top: 16rem;
        margin-right: 3rem;
    }
    .vdeo h2{
        font-size: .8rem;
    }
    .toph{
        width: 2rem;
        height: 50%;
        border-radius: 50%;  
    }
    .lignphoto h3 {
        margin-top: 5px;
        font-size: .5rem;
    }
    .btnabonnement{
        width: 5rem;
        height: 50%;
        font-size: 12px;
    }
    .toph img{
        border-radius: 4rem;
        height: 70%;
        width: 1.5rem;
    }
    .listedesvideos{
        width: 60%;
        height: auto;
        margin-left: 6.5rem;
        margin-bottom: 30rem;
        top: 6rem;
    }
    .listedesvideos h2{
        left: 1rem;
        font-size: 1.5rem;
    }
    #liste2{
        margin-top: 70rem;
        margin-bottom: 35rem;
    }
    /* footer{
        
    } */
    
}
@media (max-width:380px){
    .cadrebienvenu{
        width: 16rem;
        height: 8rem;
        margin-top: 6rem;
        margin-left: 3rem; 
          
    }
    .cadrebienvenu .p1,.cadrebienvenu .p2{
        font-size: 1.3rem;
    }
    .vdeo{
        width: 20rem;
        height: 14rem;
        margin-top: 16rem;
        margin-right: 2rem;
    }

}
@media (max-width:320px){
    .cadrebienvenu{
        width: 15rem;
        height: 7rem;
        margin-left: 2rem;     
    }
    .cadrebienvenu .p1,.cadrebienvenu .p2{
        font-size: 1.2rem;
    }
    .vdeo{
        width: 17rem;
        height: 11rem;
        margin-right: 2rem;
    }
    .cadredeo{
        width: 16rem;
        height: 8rem;
        margin-top: 50px; 
        margin-right: 2rem;
        margin-bottom: 1.2rem;
    }
    .listedesvideos{
        width: 70%;
        margin-left: 4rem;
        margin-bottom: 30rem;
        top: 7rem;
    }
    #liste2{
        margin-top: 55rem;
        margin-bottom: 35rem;
    }
    footer{
        margin-top: 60rem;
    }

}

